tmp
logs
documents
apache_configs
.vscode
.ddev
*.code-workspace
_*
.DS_Store
.favorites.json

contents/*
!contents/emails/
contents/translations/
/www/upload/*
/www/logger
/www/hive
/www/contents/*
/logger
/www/olimpo
/olimpo
*.sql
old
/cache/*
startup.sh